# venv
.venv/

# MLflow artifacts
mlruns/
mlflow.db
mlflow.db-journal

# Python
__pycache__/
*.pyc
*.egg-info/

# pytest
.pytest_cache/

# ruff
.ruff_cache/

# Frontend
frontend/node_modules/
frontend/dist/

# Built frontend (served by FastAPI)
api/static/